.message-field {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #e2e2e2;
    height: 50%;
    padding: 5px;
    overflow-y: scroll;
    width: 70%;
}

.layout {
    height: 100%;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.block-chat {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header {
    background-color: bisque;
    margin: 10px auto 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-text {
    vertical-align: middle;
    text-align: center;
    align-self: flex-start;
    width: 100%;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-start;
}

.message-bot {
    background-color: rgba(145, 169, 197, 0.472);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    align-self: flex-end;
}

.message-sender {
    color: gray;
    font-size: 14px;
}